.m-dropdown {
  position: relative;
  height: 36px;
}

.m-dropdown .m-btn-dropdown {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  border-radius: 30px;
  border: 2px solid #3b3c3f;
  background-color: transparent;
  color: #111111;
  cursor: pointer;
}
.m-dropdown .m-btn-dropdown span {
  font-family: MISA NotoSans;
  font-size: 13px;
  padding-right: 6px;
  font-weight: 600;
}
.m-dropdown .m-btn-dropdown .m-icon {
  width: 16px;
  height: 16px;
}
.m-dropdown .m-btn-dropdown:hover {
  background-color: #d2d3d6;
}

.m-dropdown .m-dropdown-list {
  position: absolute;
  z-index: 10;
  margin-top: 4px;
  width: max-content !important;
  background-color: #fff !important;
  border: 1px solid #babec5;
  border-radius: 2px;
  right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.m-dropdown-list .m-dropdown-item {
  font-size: 13px;
  padding: 5px 10px;
}

.m-dropdown-list .m-dropdown-item:hover{
  cursor: pointer;
  background-color: #e8e9ec;
}


.m-add-dropdown{
  display: flex;
  align-items: center;
}

.m-add-dropdown .add-btn{
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 20px; 
  height: 36px;
}

.m-add-dropdown .add-btn span{
  font-family: MISA NotoSans Bold;
}



.m-add-dropdown .dropdown-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 46px;
  border-radius: 0 30px 30px 0;
  padding: 0;
  position: relative;
}

.m-add-dropdown .dropdown-btn::after{
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  height: 60%;
  border-left: 1px solid #fff;
  width: 1px;
}

/* 
.m-add-dropdown .split-btn{
  height: 20px;
  width: 1px;
  background-color: #fff;
} */

